:root {
  --backgroundcolor: #cccccc;
  --textcolor: #333;
  --bordercolor: #000000;
  --secondarycolor: #b9b9b9;
}

@font-face {
  font-family: "Leche Frita";
  src: url("files/Leche_Frita.woff2") format("woff2"),
    url("files/Leche_Frita.woff") format("woff"),
    url("files/Leche_Frita.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cccccc;
}

nav {
  display: flex;
  background: linear-gradient(-10deg,
      rgba(0, 0, 0, 0.7) 500%,
      rgba(128, 124, 124, 0.6) 51%),
    linear-gradient(10deg, rgba(0, 0, 0, 0.7) 50%, rgba(255, 255, 255, 1) 51%);

  background-size: cover;
  color: var(--textcolor);
  text-align: center;
  border-bottom: 1px solid var(--bordercolor);
  justify-content: space-between;
  height: 6rem;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.wall-link {
  justify-content: center;
  align-self: center;
  font-size: 3rem;
  background: linear-gradient(45deg,
      rgb(106, 106, 106) 0%,
      rgba(80, 80, 80, 0.9) 50%,
      rgba(106, 106, 106, 1) 100%);
  background-clip: text;
  color: transparent;
  margin-left: 5rem;
  width: 20rem;
  height: 4rem;
  font-family: "Leche Frita", sans-serif;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  padding: 0 1rem;
  box-shadow: 0 0px 20px rgba(228, 228, 228, 0.4);
  text-align: center;
  text-decoration: none;
}

.wall-link h2 {
  font-size: 3rem;
  font-weight: bold;
}

.searchbar {
  flex: 1;
  width: 20rem;
  margin-left: -9.5rem;
  max-width: 50rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.buttonsearch {
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(124, 124, 124);
  background: rgb(15, 15, 15);
  border: 1px solid var(--bordercolor);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background: rgb(90, 90, 90);
  color: black;
  border: 1px solid var(--bordercolor);
  transform: scale(1.05);
}

nav ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  padding: 0;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(124, 124, 124);

  border-radius: 10px;
  background: rgba(23, 23, 23 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(123, 123, 123, 0.28);
  padding: 1rem;
  width: 5rem;
  height: 1rem;
  text-align: center;
}

.burger {
  position: absolute;
  top: -1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  display: block;
  padding: 10px;
  user-select: none;
}
.display-messages a{
  position: absolute;
  top: 1rem;
  right: 4rem;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  display: block;
  padding: 10px;
  user-select: none;
  text-decoration: none;
}
.display-messages p{
  position: relative;
  top: 1rem;
  right: 4rem;
  font-size: 1rem;
  /* cursor: pointer; */
  color: black;
  display: block;
  /* padding: 10px; */
  user-select: none;
  text-decoration: none;
}

.submenu {
  width: 200px;
  height: auto;
  z-index: 10;
  position: absolute;
  top: 96px;
  right: 0;
  display: none;
  padding-right: 1rem;
}

.submenu li {
  width: 100%;
  list-style: none;
}

.submenu li a {
  background-color: rgba(76, 76, 76, 1);
  width: 100%;
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 0px;
}

.submenu li:hover a {
  background-color: rgba(76, 76, 76, 0.8);
  color: white;
  border-radius: 0px;
  transition: 0.3s;
  text-decoration: none;
}

.submenu.active {
  display: block;
  border: none;
}

@media screen and (max-width: 1200px) {
  .submenu {
    position: absolute;
    top: 8rem;
    right: 0;
    text-align: center;
  }

  .wall-link {
    font-size: 2rem;
    position: absolute;
    left: 0rem;

    margin: 0;
    width: 20rem;
    height: 3rem;
    margin-left: 1rem;
    align-self: flex-end;
    justify-self: center;
    padding-top: 0.7rem;
    margin-bottom: 0.5rem;
  }

  .wall-link h2 {
    padding-bottom: 0.5rem;
  }

  nav ul a {
    font-size: 1rem;
    padding: 0.8rem 1rem;
    width: auto;
  }

  nav {
    gap: 0.5rem;
    height: 8rem;
  }

  .searchbar {
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    margin-left: 1rem;
    height: 1rem;
  }

  .container {
    width: 100%;
  }

  .post-img:hover {
    transform: scale(1.35);
    /* Slight zoom effect on hover */
    z-index: 999;
    /* Bring image to the front */
  }
}

@media screen and (max-width: 1024px) {
  .wall-link {
    font-size: 2rem;
    position: absolute;
    left: 0rem;

    margin: 0;
    width: 20rem;
    height: 3rem;
    margin-left: 1rem;
    align-self: flex-end;
    justify-self: center;
    padding-top: 0.7rem;
    margin-bottom: 0.5rem;
  }

  nav ul a {
    font-size: 1rem;
    padding: 0.8rem 1rem;
    width: auto;
  }

  nav {
    gap: 0.5rem;
    height: 8rem;
  }

  .searchbar {
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    margin-left: 1rem;
    height: 1rem;
  }
}

@media screen and (max-width: 768px) {
  nav ul a {
    font-size: 1rem;
    padding: 0.8rem 1rem;
    width: auto;
  }

  nav {
    gap: 0.5rem;
    height: 8rem;
  }

  .searchbar {
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    margin-left: 1rem;
    height: 1rem;
  }

  .form-container {
    position: relative;
    width: 28rem !important;
    height: auto;
    perspective: 1000px;
    /* 3D effect */
  }

  .login_Input,
  .forgot-password .email_Input {
    display: flex;
    width: 80%;
    max-width: 300px !important;
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--bordercolor);
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    height: 2rem;
    text-align: left;
    font-size: 1rem;
  }

  label,
  .forgot-password label {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--textcolor);
    margin: 0.5rem 4.5rem !important;
    align-self: flex-start;
  }

  .profile-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-left: 7rem; 
    margin-top: 3rem; */
  }

  .sidebar-section {
    width: 80% !important;
    margin: 0;
    height: auto !important;
  }

  .posts-section {
    width: 80% !important;
    margin: 0;
  }

  .comment-input {
    flex: 1;
    width: 50% !important;
    max-width: 50rem;
    height: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  .container {
    width: 100%;
  }

  .post-img:hover {
    transform: scale(1.35);
    /* Slight zoom effect on hover */
    z-index: 999;
    /* Bring image to the front */
  }
}

@media screen and (max-width: 480px) {
  .burger {
    display: block;
    position: absolute;
    top: 8rem;
    left: 0%;
    margin: 0;
    padding: 0;
    color: #b9b9b9;
  }

  .burger p {
    margin: 0;
  }

  .submenu {
    width: 100%;
    position: absolute;
    top: 11rem;
    right: 0;
    text-align: center;
  }

  .the-wall {
    display: none;
  }

  nav ul h2 {
    font-size: 2rem;
    position: absolute;
    left: 0rem;
    top: 4rem;
    margin: 0;
    width: 20rem;
    height: 3rem;
    margin-left: 1rem;

    justify-self: center;
    padding-top: 0.7rem;
    margin-bottom: 0.5rem;
  }

  nav ul a {
    font-size: 1rem;
    padding: 0.8rem 1rem;
    width: auto;
  }

  body {
    width: auto;
    min-width: 420px;
    max-width: auto;
    overflow-x: hidden;
    margin: 0 auto;
  }

  nav {
    width: 100%;
    min-width: 420px;
    height: 11rem;
  }

  .searchbar {
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    margin-left: 1rem;
    height: 1rem;
  }

  .container {
    width: 100%;
  }

  .post-img:hover {
    transform: scale(1.15);
    /* Slight zoom effect on hover */
    z-index: 999;
    /* Bring image to the front */
  }
}

@media screen and (max-width: 390px) {
  .burger {
    display: block;
    position: absolute;
    top: 8rem;
    left: 0%;
    margin: 0;
    padding: 0;
    color: #b9b9b9;
  }

  .burger p {
    margin: 0;
  }

  nav ul {
    min-width: 390px;
  }

  nav ul h2 {
    font-size: 2rem;
    position: absolute;
    left: 0rem;
    top: 4rem;
    margin: 0;
    width: 20rem;
    height: 3rem;
    margin-left: 1rem;

    justify-self: center;
    padding-top: 0.7rem;
    margin-bottom: 0.5rem;
  }

  nav ul a {
    font-size: 1rem;
    padding: 0.8rem 1rem;
    width: auto;
  }

  body {
    width: auto;
    min-width: 390px;
    max-width: auto;
    overflow-x: hidden;
    margin: 0 auto;
  }

  nav {
    flex-direction: column;
    width: 100%;
    min-width: 390px;
    height: 11rem;
  }

  .searchbar {
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    margin-left: 1rem;
    height: 1rem;
  }
}

/* index.php */
.index {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: var(--backgroundcolor);
  border: 1px solid var(--bordercolor);
}

.form-container {
  position: relative;
  width: 40rem;
  height: auto;
  perspective: 1000px;
  /* 3D effect */
}

.flip-card {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.form-side {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

/* Login, forget-password & register Forms */

.login,
.forgot-password,
.register {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: auto; */
  background: rgba(76, 76, 76, 0.5);
  padding-top: 1rem;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  padding-bottom: 2rem;
  min-height: 25rem;
}

.forgot-password {
  transform: rotateY(180deg);
}

.register {
  display: none;
  transform: rotateY(180deg);
}

.login h2,
.forgot-password h2 {
  font-size: 3rem;
  background: linear-gradient(90deg,
      transparent 5%,
      rgb(9, 9, 9) 50%,
      transparent 95%);
  background-clip: text;
  color: transparent;
  text-align: center;
  font-family: "Leche Frita", sans-serif;
  font-weight: 700;
  border-radius: 8px;
  padding: 0 1rem;
  text-shadow: 0 0px 20px rgba(52, 52, 52, 0.5);
}

.login_Input,
.forgot-password .email_Input {
  display: flex;
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  background: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--bordercolor);
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
  height: 2rem;
  text-align: left;
  font-size: 1rem;
}

label,
.forgot-password label {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--textcolor);
  margin: 0.5rem;
  align-self: flex-start;
  margin-left: 7rem;
}

.login button,
.forgot-password button,
.register button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(124, 124, 124);
  background: rgb(15, 15, 15);
  border: 1px solid var(--bordercolor);
  border-radius: 8px;
  cursor: pointer;
}

.login button:hover,
.forgot-password button:hover {
  background: rgb(90, 90, 90);
  color: black;
  border: 1px solid var(--bordercolor);
  transform: scale(1.05);
}

.login a,
.forgot-password a,
.register a {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--textcolor);
  text-decoration: underline;
  margin-top: 0rem;
}

.login .label_register {
  align-self: flex-start;
  margin-left: 7rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--textcolor);
  margin-bottom: 0.5rem;
}

.login .login_Input::placeholder {
  align-self: flex-start;
  color: var(--secondarycolor);
  font-size: 1rem;
  text-align: flex-start;
}

.login p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--textcolor);
  margin: 0.5rem;
  margin-top: -1rem;
}

.login .pindex {
  font-size: 1rem;
  font-weight: 500;
  color: var(--textcolor);
  margin: 0.5rem;
}

.main_search_result {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 1rem auto;
  justify-content: flex-start;
  align-items: center;
}

.main_search_result ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 6rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.searchResult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 1rem;

  border-radius: 8px;
  background: linear-gradient(10deg,
      rgba(0, 0, 0, 0.7) 500%,
      rgba(128, 124, 124, 0.6) 51%),
    linear-gradient(-10deg, rgba(0, 0, 0, 0.3) 50%, rgba(255, 255, 255, 1) 51%);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  gap: 2rem;
}

.searchResult img {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.searchResult a {
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-align: left;
  padding-left: 1rem;
}

.profile-link {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.name {
  text-decoration: underline;
}

.username-search {
  font-size: 1.5rem;
  color: rgb(175, 175, 175);
  text-decoration: none;
  text-align: right;
  padding-left: 1rem;
}

/* PROFILE sidebar */

.profile-sidebar {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 0rem;
  margin-right: 9rem; */
  background: var(--secondarycolor);
  text-align: center;
  /* width: 40%;
  max-width: 500px; */
  /* height: 80vw; */
  list-style: none;
  padding: 15px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  /* overflow: hidden; */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.profile-info {
  width: 100%;
  text-align: left;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.profile-info li {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 1rem 0;
  white-space: normal;
  word-wrap: break-word;
  position: relative;
  padding-bottom: 1rem;
}

.profile-info li::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right,
      transparent 0%,
      rgba(79, 79, 79, 0.2) 25%,
      rgba(0, 0, 0, 0.5),
      rgba(79, 79, 79, 0.2) 75%,
      transparent 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px;
}

.profile-info li:last-child {
  height: auto;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-picture img {
  width: 200px;
  height: 200px;
  margin-top: 2rem;
  border-radius: 50%;
  border: 2px solid rgba(79, 79, 79, 0.2);
  object-fit: cover;
  display: block;
}

.info-label {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}

.profile-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  text-align: center;
  font-style: bold;
  color: #454545;
  display: block;
  padding-left: 10px;
}
.edit-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-profile button {

  gap: 1rem;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.edit-profile button:hover {
  background-color: rgba(225, 225, 225, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.edit-profile a {
  text-decoration: none;
  color: black;
}

.profile-main {
  display: flex;
  /* flex-direction: column-reverse; */
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* margin-left: 7rem; 
  margin-top: 3rem; */
}

.sidebar-section {
  width: 30%;
  margin: 15px 0;
  height: 80vw;
}

.posts-section {
  width: 50%;
  margin: 15px 0;
  height: 80vw;

}

.comment-input {
  flex: 1;
  width: 20rem;
  max-width: 50rem;
  height: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: .5rem;
}

/* Admin_List */

.main-admin_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 1rem auto;
  margin-top: 3rem;
  width: 70%;
  height: auto;
  background: var(--secondarycolor);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.main-admin_list h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--textcolor);
  margin: 0.5rem;
  margin-top: 1rem;

  padding: .5rem;
  background: rgba(158, 158, 158, 0.8);
  border-radius: 8px;
}

table {

  border-collapse: collapse;
  width: 100%;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: rgba(158, 158, 158, 0.8);
  border-radius: 10px;
  overflow: hidden;
}

.table-header {
  font-size: 1.5rem;

}

.table-header th {
  background: rgba(28, 28, 28, 0.8);
}

th {
  background-color: rgba(98, 98, 98, 0.8);
  font-weight: bold;
  font-size: 1rem;
  color: var(--textcolor);
  font-weight: bold;
  text-align: center;
  padding: 10px;
}


.table-header th {
  background-color: #666;
}

.table-header td {

  padding: .5rem;
  text-align: center;
  font-weight: bold;
  color: var(--textcolor);
  background: rgba(158, 158, 158, 0.8);
  border: none;
  text-align: center;
  font-size: 1rem;
  vertical-align: middle;
}

.searchbar-admin {
  flex: 1;
  width: 20rem;
  max-width: 50rem;
  height: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: .5rem;
}

.btn-search-admin {
  gap: 1rem;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.edit_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: colomn;
  width: 6rem;
  text-decoration: none;
  color: var(--textcolor);
  background-color: rgba(98, 98, 98, 0.8);
  border-radius: 5px;
}

.edit_user_admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: colomn;
  width: 6rem;
  text-decoration: none;
  color: var(--textcolor);
  background-color: rgba(0, 128, 255, 0.8);
  border-radius: 5px;
}

.delete_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 6rem;
  text-decoration: none;
  color: var(--textcolor);
  margin-top: .2rem;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 5px;
  border:none;
  font-weight: 700;
  font-size:1rem;
  font-family: inherit;
  cursor:pointer;
}

.link_to_blogwall {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--textcolor);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin-top: .2rem;
  background: rgba(158, 158, 158, 0.8);
  padding: .5rem;
  border-radius: 8px;
}

.edit-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.main-admin_list p {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: var(--textcolor);
  margin: 0.5rem;
  margin-top: 1rem;
}


.login .forgotpass {
  font-size: 1rem;

}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: .5rem;
}